* {
	font-family: sans-serif;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 645px;
	background-color: #5f7886;
}

.bord {
	width: 28%;
	height: 90%;
	background-color: #1A2125;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: #20282d;
	border-radius: 7px;
	width: 96%;
	height: 96%;
}

.power-btn {
	background-color: #1A2125;
	border-radius: 5px;
	width: 0.2%;
	height: 7%;
	position: relative!important;
	bottom: 130px;
}